body {
  background-color: #E7ECFA;
  font-family: avenir
}

.well {
  background: rgb(206,215,243)
}

img {
  width: 100%;
  height: 350px;
  padding-bottom: 15px;
}

#Myself {
  height: 100%;
}

.intro {
  float: right;
  font-size: 14px;
}

#projects {
  padding-bottom: 20px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.img-list li {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(206,215,243,0.8);
  color: black;
  display: table;
  height: 335px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  -moz-transition: opacity 1000ms;
  -o-transition: opacity 1000ms;
  transition: opacity 1000ms;
}
